.MovieDetail{
  height: 100vh;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  a{
    color: #a12323;
  }

  &-title{
    h1{
      margin: 30px 0;
      font-size: 80px;
      font-weight: 100;
    }
  }

  &-vote{
    margin: 30px 0;
  }

  &-desc{
    max-width: 700px;
  }

}