body{
  // background: url('https://images.pexels.com/photos/396547/pexels-photo-396547.jpeg');
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  background-color: black;
  color: #fff;
}

.container{
  max-width: 1040px;
  margin: 100px auto;

}